@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
@layer base {
    :root {
        --color-neutrals-50: #f2f2f7;
        --color-neutrals-100: #e5e5ea;
        --color-neutrals-200: #d1d1d6;
        --color-neutrals-300: #c7c7cc;
        --color-neutrals-400: #aeaeb2;
        --color-neutrals-500: #8e8e93;
        --color-neutrals-default: #ffffff;
        --color-text-primary: #000000;
        --color-text-secondary: hsla(0, 0%, 0%, 0.7);
        --color-text-tertiary: hsla(0, 0%, 0%, 0.5);
        --color-text-action: #ffffff;
        --color-action-primary: #1c1c1e;
        --color-action-secondary: #2c2c2e;
    }
    .dark {
        --color-neutrals-50: #1c1c1e;
        --color-neutrals-100: #2c2c2e;
        --color-neutrals-200: #3a3a3c;
        --color-neutrals-300: #48484a;
        --color-neutrals-400: #636366;
        --color-neutrals-500: #8e8e93;
        --color-neutrals-default: #000000;
        --color-text-primary: #ffffff;
        --color-text-secondary: hsla(0, 100%, 100%, 0.7);
        --color-text-tertiary: hsla(0, 100%, 100%, 0.5);
        --color-text-action: #000000;
        --color-action-primary: #ffffff;
        --color-action-secondary: #f2f2f7;
    }

    body {
        @apply min-h-full bg-neutrals-default text-text-primary;
    }

    [data-ison='true'] {
        @apply justify-end;
    }

    section {
        @apply mb-16;
    }
}

/* Write your own custom component styles here */
@layer components {
    .link-basic {
        @apply transition-base text-text-primary hover:underline hover:decoration-wavy;
    }
    .link-blog {
        @apply transition-base text-text-primary underline decoration-wavy hover:opacity-50;
    }
    .transition-base {
        @apply transition-all duration-300 ease-in-out;
    }

    .btn {
        @apply transition-base rounded-2xl px-5 py-4 text-center font-medium;
    }
    .btn--small {
        @apply rounded-xl px-4 py-2 text-sm;
    }
    .btn--filled {
        @apply bg-action-primary text-text-action hover:bg-action-secondary;
    }
    .btn--outlined {
        @apply border border-action-primary bg-neutrals-default text-text-primary hover:border-action-secondary hover:bg-neutrals-100;
    }
    .btn--ghost {
        @apply text-text-primary hover:bg-neutrals-50;
    }
    .section__title {
        @apply mb-8 text-2xl font-bold;
    }
    .section__subtitle {
        @apply mb-4 text-xl text-text-secondary;
    }
}

/* Your own custom utilities */
@layer utilities {
}
